
.navbarcss {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbarcss a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdowncss {
    float: left;
    overflow: hidden;
  }
  
  .dropdowncss .dropbtncss {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbarcss a:hover, .dropdowncss:hover .dropbtncss {
    background-color: red;
    
  }
  
  .dropdowncss-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncss-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdowncss-content a:hover {
    background-color: #ddd;
  }
  
  .dropdowncss:hover .dropdowncss-content {
    display: block;
  }

  /* second Level dropdowncss*/
  .dropdowncss-content .dropbtncss2:hover{
   background-color: burlywood;
  
  }
  .dropdowncss-content .dropbtncss2{
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 26px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
 .dropdowncss-content2 a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }

